---
import Layout from "../layouts/Layout.astro";
import "../styles/styleHome.css";
import Hero from "../components/homeComponents/Hero";
import Kits from "../components/homeComponents/Kits";
import Authors from "../components/homeComponents/Authors";
---

<head>
  <meta
    name="keywords"
    content="finger drumming, fingerdrumming, drum pads, MIDI controllers, sound packs, music production, beat making, fingerdrumming app, steve nash beats, stevenashbeats, launchpad, launchpad app"
    lang="pl"
  />
  <meta
    name="description"
    content="Crosspad.app is a platform crafted for finger drumming enthusiasts, offering a gateway to explore drum kits and sound packs from talented producers. Connect your favorite MIDI controller and start exploring great kits."
    lang="en"
  />

  <meta
    property="og:image"
    itemprop="image"
    content="https://forstevenash.pages.dev/img/oglogo2.png"
  />
  <meta property="og:type" content="website" />
  <meta property="og:image:type" content="image/png" />
  <meta property="”og:image:width”" content="600" />
  <meta property="”og:image:height”" content="600" />
</head>

<Layout>
  <main class="home">
    <Hero />
    <Kits />
    <Authors client:load />
    <section class="description p1">
      <h1>CrosspPad</h1>
      <p>
        Welcome to the new Crosspad.app! Now with support for most MIDI
        controllers. Explore the best kits from the world's top finger drummers
        in your browser. We recommend using Google Chrome for the best
        performance. Ready for an exciting finger drumming experience?
      </p>
    </section>
  </main>
</Layout>
