---
import "../styles/styleMain.css";
import "../styles/styleHome.css";
import "../styles/styleAuthor.css";
import "../styles/styleApp.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg" href="/favicon.svg" />
    <script
      src="https://kit.fontawesome.com/ea40f5c58c.js"
      crossorigin="anonymous"></script>
    <title>Crosspad.app</title>
  </head>
  <body>
    <slot />
  </body>
</html>
