---
import "../styles/styleMain.css";
import "../styles/styleHome.css";
import "../styles/styleAuthor.css";
import "../styles/styleApp.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta
      name="keywords"
      content="finger drumming, fingerdrumming, drum pads, MIDI controllers, sound packs, music production, beat making, fingerdrumming app, steve nash beats, stevenashbeats, launchpad, launchpad app"
      lang="pl"
    />
    <meta
      name="description"
      content="Crosspad.app is a platform crafted for finger drumming enthusiasts, offering a gateway to explore drum kits and sound packs from talented producers. Connect your favorite MIDI controller and start exploring great kits."
      lang="en"
    />
    <meta name="generator" content={Astro.generator} />

    <meta
      property="og:image"
      itemprop="image"
      content="https://forstevenash.pages.dev/img/oglogo2.png"
    />
    <meta property="og:type" content="website" />
    <meta property="og:image:type" content="image/png" />
    <meta property="”og:image:width”" content="600" />
    <meta property="”og:image:height”" content="600" />
    <meta charset="UTF-8" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>Crosspad.app</title>
    <link rel="icon" type="image/svg+xml" href="/img/favicon.svg" />
  </head>
  <body>
    <slot />
  </body>
</html>
